---
title: Oops, something went wrong
layout: error
directory_index: false
---

<h1>500</h1>
<%= image_tag 'bot_icon_failure_alt.png' %>
<p>
  Oops, something went wrong.
  It’s most probably just a temporary glitch that will be fixed within a few minutes.
  <a href='mailto:team@dockbit.com'>Contact us</a> if you continue to see this error.
</p>
<a href='javascript:history.back()' class='button'>Back to previous page</a>
