<!-- Google Analytics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-61835225-5', 'auto');
  ga('send', 'pageview');
</script>

<footer>
  <div class='container'>
    <div class='row'>
      <div class='two columns copy'>
        &copy; <%= Time.now.year %> Dockbit Inc.
      </div>
      <div class='ten columns'>

        <ul>
          <li><h4>Product</h4></li>
          <li><a href='https://dockbit.com/features'>Features</a></li>
          <li><a href='https://dockbit.com/pricing'>Pricing</a></li>
          <li><a href='https://dockbit.com/auth/github'>Sign in</a></li>
        </ul>

        <ul>
          <li><h4>Company</h4></li>
          <li><a href='https://dockbit.com/about'>About</a></li>
          <li><a target='_blank' href='http://blog.dockbit.com'>Blog</a></li>
          <li><a href='https://dockbit.com/site/contact'>Contact</a></li>
          <li><a href='https://dockbit.com/site/terms'>Terms</a></li>
          <li><a href='https://dockbit.com/site/privacy'>Privacy</a></li>
        </ul>

        <ul>
          <li><h4>Help</h4></li>
          <li><a href='/'>Documentation</a></li>
          <li><a href='/faq'>FAQ</a></li>
          <li><a href='/integrations'>Integrations</a></li>
        </ul>

        <ul class='social'>
          <li><h4>Connect</h4></li>
          <li>
            <a target='_blank' href='https://twitter.com/dockbit' title='Follow us on Twitter'>
              <i class='flaticon social twitter-4'></i>
            </a>
            <a target='_blank' href='https://www.facebook.com/dockbit' title='Like our Facebook page'>
              <i class='flaticon social facebook-4'></i>
            </a>
            <a target='_blank' href='https://www.linkedin.com/company/dockbit' title='Follow us on LinkedIn'>
              <i class='flaticon social linkedin-3'></i>
            </a>
          </li>
          <li class='copy'>
            &copy; <%= Time.now.year %> Dockbit Inc.
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
