<div id='mobile-menu'>
  <a class='logo' href='/'></a>
</div>
<nav>
  <div class='container'>
    <div class='row'>
      <div class='twelve columns'>
        <a class='logo' href='/'></a>
        <ul id='menu' class='nav'>
          <li><a href='https://dockbit.com/features'>Features</a></li>
          <li><a href='https://dockbit.com/pricing'>Pricing</a></li>
          <li><a href='https://dockbit.com/about'>About</a></li>
          <li><a href='http://blog.dockbit.com'>Blog</a></li>
          <li><a class='signin' href='https://dockbit.com/auth/github'>Sign in</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>
